<div id="footer" class="mx-0 row">
    <div class="col-0 col-sm-1"></div>
    <div id="contact-us" class="mx-3 pl-3 py-3 col-10 col-sm-4">
      <div class="s-block header-holder m-2" style="text-align: left;">
        <h4 class="my-0 header">Contact Us</h4>
        <i class="fas fa-tty fa-lg ml-2" style="color: #0061a8"></i>
      </div>
      <span class="d-block mt-2 mb-1 ml-2 placeholder"
        >Your Name<i class="fas fa-signature fa-lg ml-1"></i
      ></span>
      <input class="mx-0 px-3 py-2 d-block col-12 col-sm-8" type="text" name="name"/>
      <span class="d-block mt-3 mb-1 ml-2 placeholder"
        >ph-No<i class="fas fa-phone-alt fa-lg ml-1"></i
      ></span>
      <input class="mx-0 px-3 py-2 d-block col-12 col-sm-8" type="text" name="phNo"/>
      <span class="d-block mt-3 mb-1 ml-2 placeholder"
        >Message<i class="fas fa-comment-dots fa-lg ml-1"></i
      ></span>
      <textarea class="mx-0 px-3 py-2 d-block col-12 col-sm-10" name="message" rows="3"></textarea>
      <button class="mr-3 mt-4 py-2 px-3 login-signup-button" style="float: right;">
        Send<i class="fas fa-location-arrow fa-md ml-2"></i>
      </button>
    </div>
    <div class="col-0 col-sm-1"></div>
    <div id="location" class="mt-1 mt-sm-3 pt-3 px-0 col-10 col-sm-5">
      <h5 style="color: white">Reach out to us at<i class="ml-2 fas fa-map-marked-alt"></i></h5>
      <p class="my-2" style="color: #d3e0ea;">
        JSS Medical College, JSS Academy of Higher Education and Research, <br class="d-none d-sm-block"/> Sri
        Shivarathreeshwara Nagara, Mysuru- 570015, Karnataka, India.
      </p>
      <a href="tel:+91 8921448205" class="mt-4 d-block" style="color: #d3e0ea;"><i class="fas fa-mobile-alt mr-2"></i>+91 8921448205</a>
      <a href="mailto:deepakanil7@gmail.com" class="mt-1 d-block" style="color: #d3e0ea;"><i class="far fa-envelope mr-2"></i>deepakanil7@gmail.com</a>
      <div id="social-icons" class="mt-5">
        <a href="//www.twitter.com" target="_blank" style="color: #e3e7f1"><i class="fab fa-twitter fa-2x" title="Twitter"></i></a>
        <a href="//www.instagram.com" target="_blank" style="color: #e3e7f1"><i class="fab fa-instagram fa-2x mx-4 px-2" title="Instagram"></i></a>
        <a href="//www.facebook.com" target="_blank" style="color: #e3e7f1"><i class="fab fa-facebook fa-2x" title="Facebook"></i></a>
      </div>
    </div>
    <span class="mx-3" style="text-align: center;" id="copyright"><i class="fas fa-laptop-code fa-md"></i> Developed by students of <strong>IS&E</strong> at <strong>JSSS&T University</strong></span>
  </div>