<div class="row Nav py-3 py-sm-4 m-0">
  <img src="./images/logo.png" alt="LOGO"class="mx-1 Nav-brand" width="50" height="50">
  <h3 class="Nav-brand my-2 mx-1">DIABETES CARE</h3>
  <i id="n1" class="fas fa-file-medical-alt fa-lg Nav-icons"></i>
  <i id="n2" class="fas fa-user-nurse fa-2x Nav-icons"></i>
  <i id="n3" class="fas fa-syringe fa-lg Nav-icons"></i>
  <i id="n4" class="fas fa-stethoscope fa-2x Nav-icons d-none d-sm-block"></i>
  <i id="n5" class="fas fa-briefcase-medical fa-lg Nav-icons"></i>
  <i
    id="n6"
    class="fas fa-hand-holding-medical fa-2x Nav-icons d-none d-sm-block"
  ></i>
  <i id="n7" class="fas fa-prescription fa-lg Nav-icons"></i>
  <i id="n8" class="fas fa-capsules fa-2x Nav-icons d-none d-sm-block"></i>
  <i id="n9" class="fas fa-ambulance fa-lg Nav-icons d-none d-sm-block"></i>
</div>