<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <hr />
    <button><a href="/admin/logout">Logout</a></button>
    <br />
    <ul>
      <li><a href="/admin/occupation_data">Occupation Data</a></li>
      <li><a href="/admin/education_data">Education Data</a></li>
      <li><a href="/admin/income_data">Income Data</a></li>
      <li>
        <a href="/admin/socio_economic_status_data"
          >Socio Economic Status Data</a
        >
      </li>
      <li><a href="/admin/calorie_data">Calorie Data</a></li>
    </ul>
  </body>
</html>
