<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Calorie Data</h1>
    <hr />
    <form action="/admin/calorie_data" method="post">
      <input type="text" name="foodType" placeholder="Enter food type" />
      <input type="text" name="food" placeholder="Enter food" />
      <input type="text" name="measure" placeholder="Enter measure" />
      <input type="text" name="baseQuantity" placeholder="Enter base quantity" />
      <input type="text" name="baseCalories" placeholder="Enter base calories" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
