<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Income Data</h1>
    <hr />
    <form action="/admin/income_data" method="post">
      <input type="text" name="minIncome" placeholder="Min. Income" />
      <input type="text" name="maxIncome" placeholder="Max. Income" />
      <input type="text" name="score" placeholder="Enter score" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
