<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Socio Economic Status Data</h1>
    <hr />
    <form action="/admin/socio_economic_status_data" method="post">
      <input type="text" name="minScore" placeholder="Min. score" />
      <input type="text" name="maxScore" placeholder="Max. score" />
      <input type="text" name="Class" placeholder="Enter Class" />
      <input type="text" name="value" placeholder="Enter Value" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
